@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Noto+Serif+SC:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Noto Serif SC", serif;
  
  --color-primary: #173838;
  --color-accent: #B22222;
  --color-paper: #FAF9F8;
}

@layer base {
  body {
    @apply bg-paper text-slate-900 font-sans;
  }
  
  h1, h2, h3, h4 {
    @apply font-serif font-bold text-primary;
  }
}

.bg-paper-texture {
  background-color: #faf9f8;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.02'/%3E%3C/svg%3E");
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 20px);
}
